# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

- Some of the popular languages that Data Scientists use are:
    1) Python Language
    2) R Language
    3) Julia

* Some of the commonly used libraries used by Data Scientists include:
   1) Pandas
   2) Matplotlib: Visualization with Python
   3) scikit-learn: machine learning in Python

| Data Science Tools|
------------------------------
Programming Languages
Data Manipulation and Analysis
Machine Learning and Statistical Modeling
Data Visualization
-------------------------------

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
1+2

3

In [4]:
x,y=5,10
z=x*y
adding=x+y
divsion=y/x
print('x=',x,' ','y=',y,'  ','x*y=',z,'   ','x+y=',adding,' ','y/x=',divsion)

x= 5   y= 10    x*y= 50     x+y= 15   y/x= 2.0

In [5]:
#This a simple arithmetic expression to mutiply then add integer
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**
  1) Learning Python Language and Data Science Tolls
  2) Learning basics about R despite I am not familiar with
  3) learning to create GitHub account.

## Author name: 
    Yaseen Alwesabi